{{!-- form for posting new burgers --}}
<form action="/" method="POST">
    <label for="name">New Burger:</label>
    <input class="burger-input" type="text" name="name" maxlength="100"/>
    <input class="button button-eat" type="submit" value="Add Burger">
</form>